
    html body {
        overflow-x: hidden;
    }

    #modifier {
        margin-left: 560px;
    }

    #modifier h2 {
        margin-left : -60px;
    }

    table {
        margin-left : -100px;
    }

    input[type=text] {
        margin-left : 50px;
    }

    input[type=file] {
        margin-left : 50px;
    }

    select {
        margin-left : 50px;
    }

    textarea {
        margin-left : 50px;
    }

    input[type=submit] {
        border-radius               : 4px;
        color : black;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        transition: background-color .5s;
        margin-left: -30px;
    }

    input[type=submit]:hover {
        background-color: #EDB83A;
    }

    #desc {
        width:100%; 
        height:20%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }


    #desc:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    #confnewemail {
        margin-top: 15px;
    }

    #prix {
        margin-top: 15px;
    }

    #disponnibilite {
         margin-left : 50px; 
         margin-top: 10px;
    }

    #nbpersonnes {
        margin-top: 15px;
    }

    #span {
        padding:10px 0 0 150px;
    }

    #valider {
        color : black;
    }
    
    .col-md-4 h3 {
        font-family: Verdana;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 2px;
    }






    #profil {
        margin-top: -210px;
        text-align: left;
        margin-left: 10px;
    }